/vendor/
/vendor_old/
/assets/
/images/
/design/
/barcode/
/logs/
/application/logs/
/application/cache/
/tests/
.qodo/
.tmp.driveupload
.tmp.drivedownload

/application/config/config.php
/application/config/database.php
.htaccess
git_user_pass_token.txt
